name: Format

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  nix-fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
        with:
          determinate: false
      - name: Setup Attic cache
        uses: ryanccn/attic-action@1887fd507f03327c96c64cca30118c96eb17fdad # v0
        with:
          endpoint: https://attic.comni.pl
          cache: redis-rwproxy
          token: ${{ secrets.ATTIC_JWT }}

      - run: nix build -L .#checks.x86_64-linux.nix-fmt --accept-flake-config
  crate-fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
        with:
          determinate: false
      - name: Setup Attic cache
        uses: ryanccn/attic-action@1887fd507f03327c96c64cca30118c96eb17fdad # v0
        with:
          endpoint: https://attic.comni.pl
          cache: redis-rwproxy
          token: ${{ secrets.ATTIC_JWT }}

      - run: nix build -L .#checks.x86_64-linux.crate-fmt --accept-flake-config
